/* You can add global styles to this file, and also import other style files */
.stockRow {
    margin: 0px;
    width: calc(100% - 2px);
    border-bottom: 1px solid #f2f2f2;
    display: inline-block;
    padding: 10px 0px 12px 0px;
  }

  .stockHeader {
    height: 40px;
    padding: 12px 0px 0px 0px;
    border-top: none;
    border-bottom: 2px solid #666666;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-align: left;
    background: #666666;
  }

  .stock-up{
    color: #17b641;
  }
  
  .stock-down{
    color: #df3a3a;
  }

  .stock-status-icon{
    display:inline-block;width:10px;min-width:10px;text-align:left;margin-right:5px;
  }
